@use "components/buttons" as btns;
@use "abstracts/variables" as var;
@use "components/forms";
@use "components/elements" as elmnts;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100dvh;

	font-family: var.$main-font;
	background-color: var.$dark;
	color: var.$white;
}

.text-label {
	font-family: var.$secondary-font;
}

.gray {
	color: var.$light-gray;
}

.small {
	font-size: 12px;
}

.normal {
	font-size: 17px;
}

.big {
	font-size: 20px;
}

.huge {
	font-size: 25px;
}

.bold {
	font-width: 800;
}

.medium {
	font-width: 400;
}

.thin {
	font-width: 200;
}

.logo-composite {
	display: flex;
	align-items: center;
	gap: 10px;

	margin-bottom: 30px;

	h1 {
		color: var.$light-blue;
	}

	img.logo {
		@include elmnts.icon(50px);
	}
}

.page-container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.login-page {
	flex-direction: column;
	gap: 30px;
}

.signup-page {
	justify-content: start;

	.form-wrapper {
		width: min(80%, 400px);
		background-color: var.$dark;
		border: none;
	}

	.hero-section {
		height: 100%;
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		background-color: var.$light-dark;

		& > p {
			text-align: center;
			max-width: 300px;

			span {
				color: #a58e7f;
			}
		}
	}
}
