@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1&icon_names=add,arrow_drop_down,arrow_drop_up,check_box,cloud,content_copy,create_new_folder,delete,delete_forever,download,draft,drive_file_move,edit_square,folder,folder_zip,group,help,history,home,image,info,keyboard_arrow_down,keyboard_arrow_right,lock,more_vert,movie,open_in_new,public,search,settings,share,star,upload_file,visibility,visibility_off&display=block");
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.nav-btns button {
  width: 100%;
  background-color: transparent;
  color: #929497;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #1a1c1e;
}
.nav-btns button.active {
  background-color: #212426;
  color: #e2e2e5;
}
.nav-btns button:not(.active):hover, .nav-btns button:not(.active):focus {
  color: #e2e2e5;
  border-color: #e2e2e5;
}
.nav-btns button.active .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}

.submit-button {
  width: 100%;
  background-color: transparent;
  color: #1a1c1e;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #bec8d2;
  border: 2px solid #bec8d2;
}
.submit-button:hover, .submit-button:focus {
  background-color: #1a1c1e;
  color: #bec8d2;
}
.submit-button {
  margin-block: 30px;
  padding: 10px;
}

.new-btn {
  width: 100%;
  background-color: transparent;
  color: #1a1c1e;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #bec8d2;
  border: 2px solid #bec8d2;
}
.new-btn:hover, .new-btn:focus {
  background-color: #1a1c1e;
  color: #bec8d2;
}
.new-btn {
  border: 2px solid;
  border-radius: 20px;
}
.new-btn span.material-symbols-outlined {
  font-size: 28px;
  left: 20%;
}

.new-btn,
.nav-btns button {
  padding-block: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-btn .material-symbols-outlined,
.nav-btns button .material-symbols-outlined {
  position: absolute;
  left: 15%;
}

.support-btn {
  width: 100%;
  background-color: transparent;
  color: #929497;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #121416;
}
.support-btn.active {
  background-color: #e2e2e5;
  color: #121416;
}
.support-btn:not(.active):hover, .support-btn:not(.active):focus {
  color: #e2e2e5;
  border-color: #e2e2e5;
}
.support-btn {
  width: 120px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 30px;
  border: 2px solid rgba(146, 148, 151, 0.2196078431);
  border-radius: 20px;
}

.settings-btn {
  width: 100%;
  background-color: transparent;
  color: #929497;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #121416;
}
.settings-btn.active {
  background-color: #e2e2e5;
  color: #121416;
}
.settings-btn:not(.active):hover, .settings-btn:not(.active):focus {
  color: #e2e2e5;
  border-color: #e2e2e5;
}
.settings-btn {
  display: flex;
  padding: 5px;
  border-radius: 30px;
}

.logout-btn {
  width: 100%;
  background-color: transparent;
  color: #ffb4ab;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #690005;
  border: 2px solid #690005;
}
.logout-btn:hover, .logout-btn:focus {
  background-color: #ffb4ab;
  color: #690005;
}
.logout-btn {
  padding: 10px 20px;
}

.visibility-toggle {
  width: 100%;
  background-color: transparent;
  color: #929497;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  width: fit-content;
  padding: 5px;
  border-radius: 50%;
  opacity: 0.8;
}
.visibility-toggle:hover, .visibility-toggle:focus {
  background-color: rgba(146, 148, 151, 0.2196078431);
}
.visibility-toggle.visible {
  color: #e2e2e5;
}

.new-folder-btn,
.upload-file-btn {
  width: 100%;
  background-color: transparent;
  color: #e2e2e5;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #121416;
  border: 2px solid #121416;
}
.new-folder-btn:hover, .new-folder-btn:focus,
.upload-file-btn:hover,
.upload-file-btn:focus {
  background-color: #e2e2e5;
  color: #121416;
}
.new-folder-btn,
.upload-file-btn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  border: none;
  padding: 10px;
}
.new-folder-btn:hover > .material-symbols-outlined, .new-folder-btn:focus > .material-symbols-outlined,
.upload-file-btn:hover > .material-symbols-outlined,
.upload-file-btn:focus > .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}

.new-folder-btn {
  border-radius: 5px 0 0 5px;
}

.upload-file-btn {
  border-radius: 0 5px 5px 0;
}

.modal .btns-wrapper button {
  width: 100%;
  background-color: transparent;
  color: #e2e2e5;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #1a1c1e;
  border: 2px solid #1a1c1e;
}
.modal .btns-wrapper button:hover, .modal .btns-wrapper button:focus {
  background-color: #e2e2e5;
  color: #1a1c1e;
}
.modal .btns-wrapper button {
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
}

.star-btn {
  width: 100%;
  background-color: transparent;
  color: rgba(106, 107, 109, 0.5333333333);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  font-size: 26px;
}
.star-btn.starred {
  color: #bec8d2;
  font-variation-settings: "FILL" 1;
}
.star-btn:not(.starred):focus, .star-btn:not(.starred):hover {
  color: #bec8d2;
}

.item-dropdown button {
  width: 100%;
  background-color: transparent;
  color: rgba(146, 148, 151, 0.7882352941);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 0;
  border-block: 1px solid rgba(217, 218, 219, 0.0470588235);
  padding-block: 10px;
  padding-inline: 20px;
}
.item-dropdown button:hover, .item-dropdown button:focus {
  color: #e2e2e5;
  background-color: rgba(146, 148, 151, 0.0823529412);
}
.item-dropdown button .icon {
  font-size: 20px;
}

.item-menu-btn {
  width: 100%;
  background-color: transparent;
  color: #929497;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
}
.item-menu-btn:focus, .item-menu-btn:hover {
  background-color: rgba(106, 107, 109, 0.2666666667);
}
.item-menu-btn .item-menu-icon {
  font-size: 20px;
}

.empty-trash-btn {
  width: 100%;
  background-color: transparent;
  color: #1a1c1e;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  background-color: #bec8d2;
  border: 2px solid #bec8d2;
}
.empty-trash-btn:hover, .empty-trash-btn:focus {
  background-color: #1a1c1e;
  color: #bec8d2;
}
.empty-trash-btn {
  width: fit-content;
  align-self: end;
  padding: 10px;
  border-radius: 20px;
}

.incBtn {
  width: 100%;
  background-color: transparent;
  color: #929497;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.incBtn margin span.material-symbols-outlined {
  font-size: 30px;
}
.incBtn:hover {
  color: #e2e2e5;
}

.copyBtn {
  width: 100%;
  background-color: transparent;
  color: #929497;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212426;
  padding: 10px;
  border: rgba(146, 148, 151, 0.0823529412) solid 1px;
  border-radius: 50px;
}
.copyBtn:hover {
  color: #e2e2e5;
}
.copyBtn span {
  font-size: 20px;
}

.edit-timer-btn {
  width: 100%;
  background-color: transparent;
  color: #929497;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  width: fit-content;
  display: none;
}
.edit-timer-btn.active {
  display: flex;
}
.edit-timer-btn {
  align-items: center;
  justify-content: center;
}
.edit-timer-btn:hover {
  color: #e2e2e5;
}
.edit-timer-btn span {
  font-size: 20px;
}

input {
  width: 100%;
  color: #e2e2e5;
  background-color: #212426;
  border: solid 1px rgba(146, 148, 151, 0.2196078431);
  border-radius: 5px;
  outline: none;
  padding: 15px;
  transition: border 0.2s ease-out;
}
input::placeholder {
  opacity: 0.5;
}
input:focus {
  border-color: #929497;
}

.form-wrapper {
  width: min(80%, 350px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  gap: 5px;
  background-color: #1a1c1e;
  border: solid 1px rgba(146, 148, 151, 0.0666666667);
  border-radius: 5px;
  padding: 40px 20px;
}
.form-wrapper .form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 40px;
}
.form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.form-wrapper form .input-err-wrapper {
  width: 100%;
}
.form-wrapper form .input-err-wrapper .error-msg {
  position: relative;
  top: -3px;
  font-family: "JetBrains Mono";
  font-size: 11px;
  font-weight: 100;
  word-spacing: -2px;
  color: #ffb4ab;
}
.form-wrapper form .input-err-wrapper .error-msg.active {
  display: inline-block;
}
.form-wrapper form .input-err-wrapper .error-msg::first-letter {
  text-transform: capitalize;
}
.form-wrapper form .input-wrapper {
  width: 100%;
  position: relative;
}
.form-wrapper form .input-wrapper input {
  padding-top: 25px;
}
.form-wrapper form .input-wrapper label {
  position: absolute;
  left: 15px;
  top: 8px;
  font-size: 10px;
}
.form-wrapper form .input-wrapper .visibility-toggle {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
}

.upload-form {
  display: none;
}

.folder-tree-container {
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid rgba(146, 148, 151, 0.0666666667);
  border-radius: 6px;
  padding: 10px;
  background-color: #212426;
}
.folder-tree-container .tree-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.folder-tree-container .children-container {
  padding-left: 20px;
}
.folder-tree-container .children-container.collapsed {
  display: none;
}
.folder-tree-container .folder-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  border-radius: 5px;
  transition: background-color 0.15s ease;
}
.folder-tree-container .folder-row:hover {
  background-color: rgba(146, 148, 151, 0.1450980392);
}
.folder-tree-container .folder-row:hover .inline-move-btn {
  opacity: 1;
}
.folder-tree-container .folder-row:hover .inline-move-btn.disabled {
  opacity: 0.6;
}
.folder-tree-container .folder-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.folder-tree-container .folder-left .caret {
  cursor: pointer;
  user-select: none;
  color: #929497;
}
.folder-tree-container .folder-left .caret.has-children:hover {
  color: #e2e2e5;
}
.folder-tree-container .folder-left .empty-placeholder {
  visibility: hidden;
  width: 15px;
}
.folder-tree-container .folder-left .folder-icon {
  font-variation-settings: "FILL" 1;
  color: #929497;
}
.folder-tree-container .inline-move-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #bec8d2;
  border: none;
  color: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s ease, background-color 0.1s;
}
.folder-tree-container .inline-move-btn:hover {
  background-color: #e2e2e5;
}
.folder-tree-container .inline-move-btn.disabled {
  color: #444;
  background-color: #888;
  cursor: not-allowed;
  opacity: 0.6;
}
.folder-tree-container .inline-move-btn.disabled:hover {
  background-color: #888;
  opacity: 0.6;
}

.share-item-form select {
  width: fit-content;
  padding: 5px;
  background-color: #212426;
  color: #e2e2e5;
  border: rgba(146, 148, 151, 0.0666666667) 1px solid;
  border-radius: 2px;
  cursor: pointer;
}
.share-item-form .access-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.share-item-form .access-wrapper .access-icon {
  margin-left: 5px;
}
.share-item-form .duration-wrapper {
  display: none;
}
.share-item-form .duration-wrapper.active {
  display: block;
}
.share-item-form .timer-wrapper {
  display: none;
}
.share-item-form .timer-wrapper.active {
  display: flex;
}
.share-item-form .timer-wrapper {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.share-item-form .timer-wrapper .timer-header-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.share-item-form .timer-wrapper .incrementer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.share-item-form .timer-wrapper .incrementer-wrapper .incrementer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share-item-form .timer-wrapper .incrementer-wrapper .incrementer input[type=number] {
  width: 60px;
  text-align: center;
  padding: 10px;
  -moz-appearance: textfield;
}
.share-item-form .timer-wrapper .incrementer-wrapper .incrementer input[type=number]::-webkit-outer-spin-button,
.share-item-form .timer-wrapper .incrementer-wrapper .incrementer input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.share-item-form .timer-wrapper.disabled .incBtn {
  display: none;
}
.share-item-form .timer-wrapper.disabled input {
  user-select: none;
  color: #888;
}
.share-item-form .link-wrapper {
  display: none;
}
.share-item-form .link-wrapper.active {
  display: flex;
}
.share-item-form .link-wrapper {
  flex-direction: column;
  gap: 5px;
}
.share-item-form .link-wrapper .link-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.share-item-form .link-wrapper .link-row input {
  padding: 10px;
  color: #969696;
}
.share-item-form hr {
  border-color: rgba(136, 136, 136, 0.5254901961);
  margin-bottom: 20px;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 30px;
  background-color: #1a1c1e;
}
.navbar .nav-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navbar .new-btn-wrapper {
  width: 100%;
  position: relative;
}
.navbar .new-btn-wrapper .new-dropdown {
  width: 150%;
  position: absolute;
  top: -5px;
  left: 102%;
  z-index: 99;
  background-color: #1a1c1e;
  display: none;
}
.navbar .new-btn-wrapper .new-dropdown.active {
  display: flex;
}
.navbar .new-btn-wrapper .new-dropdown {
  gap: 0px;
  border: 1px solid rgba(146, 148, 151, 0.5254901961);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.089);
}
.navbar .new-btn-wrapper .new-dropdown hr {
  border-color: rgba(146, 148, 151, 0.5254901961);
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .input-wrapper {
  width: min(80%, 600px);
  position: relative;
}
header input {
  padding: 10px;
  padding-left: 40px;
}
header .search-icon {
  position: absolute;
  left: 10px;
  top: 8px;
}
header .btns-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .settings-wrapper {
  position: relative;
}
header .settings-dropdown {
  width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  z-index: 99;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #1a1c1e;
  padding: 20px 10px;
  border: 1px solid rgba(146, 148, 151, 0.2392156863);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
header .dropdown-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.files-container,
.folders-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  width: min(80%, 200px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: #1a1c1e;
  color: #e2e2e5;
  border: 1px solid rgba(146, 148, 151, 0.062745098);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.048);
  outline: none;
  padding: 15px;
  cursor: auto;
  transition: all 0.12s ease-in-out;
}
.item:hover {
  background-color: rgba(147, 148, 150, 0.1215686275);
}
.item:focus {
  color: #bec8d2;
  background-color: #212426;
  border-color: rgba(146, 148, 151, 0.2117647059);
}
.item .preview-wrapper {
  width: 100%;
  max-width: 180px;
  height: 140px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(146, 148, 151, 0.0941176471);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item .preview-wrapper img,
.item .preview-wrapper video {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  user-select: none;
  object-fit: contain;
  object-position: center;
}
.item .preview-wrapper .item-icon {
  font-size: 100px;
}
.item .item-name-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.item .item-name-wrapper .item-name {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.item .item-name-wrapper .item-icon {
  font-size: 18px;
}
.item .item-name-wrapper .item-menu-wrapper {
  position: relative;
}
.item .star-form {
  position: absolute;
  top: -13px;
  right: -12px;
}
.item .item-icon.other {
  color: #c4c59c;
}
.item .item-icon.image {
  color: rgb(143, 178, 224);
}
.item .item-icon.movie {
  color: #ffb4ab;
}
.item .item-icon.zip {
  color: rgb(160, 160, 160);
}
.item .item-icon.folder {
  color: #a58e7f;
  font-variation-settings: "FILL" 1;
}
.item .item-dropdown {
  position: absolute;
  z-index: 99;
  width: 160px;
  display: none;
}
.item .item-dropdown.active {
  display: flex;
}
.item .item-dropdown {
  flex-direction: column;
  align-items: center;
  background-color: #212426;
  border: 1px solid rgba(217, 218, 219, 0.0823529412);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.062);
  user-select: none;
}
.item .item-dropdown form {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100dvh;
  font-family: "Geist";
  background-color: #121416;
  color: #e2e2e5;
}

.text-label {
  font-family: "JetBrains Mono";
}

.gray {
  color: #929497;
}

.small {
  font-size: 13px;
}

.normal {
  font-size: 17px;
}

.big {
  font-size: 20px;
}

.huge {
  font-size: 25px;
}

.bold {
  font-weight: 800;
}

.medium {
  font-weight: 600;
}

.thin {
  font-weight: 200;
}

a {
  color: #bec8d2;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}
a:hover, a:focus {
  color: #e2e2e5;
}

.material-symbols-outlined {
  user-select: none;
}

.logo-composite {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.logo-composite h1 {
  color: #bec8d2;
}
.logo-composite img.logo {
  width: 50px;
  height: 50px;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  flex-direction: column;
  gap: 30px;
}

.signup-page {
  justify-content: start;
}
.signup-page .form-wrapper {
  width: min(80%, 400px);
  background-color: #121416;
  border: none;
}
.signup-page .hero-section {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1c1e;
}
.signup-page .hero-section > p {
  text-align: center;
  max-width: 300px;
}
.signup-page .hero-section > p span {
  color: #a58e7f;
}

.home-page {
  min-height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
}
.home-page .main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 60px;
}
.home-page .main-wrapper .items-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #929497 #212426;
}
.home-page .main-wrapper .items-container p {
  font-size: 14px;
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: none;
}
.modal.active {
  display: flex;
}
.modal {
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1215686275);
}
.modal > * {
  width: min(80%, 400px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: #1a1c1e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.089);
  border-radius: 5px;
}
.modal > * .btns-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
.modal.item-details .rows-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}

.location-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block: 40px 20px;
}
.location-bar h1 {
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
