@mixin button-theme($bg-color, $text-color) {
	width: 100%;
	background-color: $bg-color;
	padding-block: 10px;

    border: 1px solid $bg-color;
	border-radius: 5px;
	outline: none;

	cursor: pointer;

	transition: all 0.1s ease-in-out;

	&:hover,
	&:focus {
		background-color: $text-color;
		color: $bg-color;
	}
}
