@use "../abstracts/variables" as var;

.empty-state-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 100%;
}

.empty-state-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 16px;
	padding: 40px 20px;
}

.empty-state-image {
	width: 128px;
	height: 128px;
	opacity: 0.8;
}

.empty-state-title {
	font-size: 20px;
	font-weight: 500;
	color: var.$white;
	margin: 0;
	font-family: var.$main-font;
}

.empty-state-subtitle {
	font-size: 14px;
	color: var.$light-gray;
	margin: 0;
	font-family: var.$main-font;
}
