@use "../abstracts/variables" as var;

.files-container,
.folders-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.item {
	width: min(80%, 200px);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;

	background-color: var.$light-dark;
	color: var.$white;

	border: 1px solid #92949710;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.048);
	outline: none;

	padding: 15px;

	cursor: auto;

	transition: all 0.12s ease-in-out;

	&:hover {
		background-color: #9394961f;
	}

	&:focus {
		color: var.$light-blue;
		background-color: var.$dark-gray;
		border-color: #92949736;
	}

	.preview-wrapper {
		width: 100%;
		max-width: 180px;
		height: 140px;
		overflow: hidden;
		border-radius: 5px;
		border: 1px solid #92949718;
		display: flex;
		align-items: center;
		justify-content: center;

		img,
		video {
			width: 100%;
			height: 100%;

			display: block;
			pointer-events: none;
			user-select: none;

			object-fit: contain;
			object-position: center;
		}

		.item-icon {
			font-size: 100px;
		}
	}

	.item-name-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 10px;

		.item-name {
			width: 100%;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			user-select: none;
		}

		.item-icon {
			font-size: 18px;
		}

		.item-menu-wrapper {
			position: relative;
		}
	}

	.star-form {
		position: absolute;
		top: -13px;
		right: -12px;
	}

	.item-dropdown {
		position: absolute;
		z-index: 99;

		width: 160px;
		display: none;
		&.active {
			display: flex;
		}
		flex-direction: column;
		align-items: center;

		background-color: var.$dark-gray;

		border: 1px solid #d9dadb15;
		border-radius: 5px;

		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.062);

		user-select: none;

		form {
			width: 100%;
		}
	}
}

.item-icon {
	&.other {
		color: #c4c59c;
	}

	&.image {
		color: rgb(143, 178, 224);
	}

	&.movie {
		color: var.$light-red;
	}

	&.zip {
		color: rgb(160, 160, 160);
	}

	&.folder {
		color: #a58e7f;
		font-variation-settings: "FILL" 1;
	}
}
